<html lang="es">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Vue.js CRUD application</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >

  <style type="text/css">
      .logo {
        width: 75px;
        float: left;
        margin-right: 15px;
      }

      .form-group {
        max-width: 500px;
      }

      .actions {
        padding: 10px 0;
      }

      .glyphicon-euro {
        font-size: 12px;
      }
  </style>
</head>
<body>

<div class="container">
  <header class="page-header">
    <div class="branding">
     <a href="http://tecgurus.net"> <img src="http://tecgurus.net/wp-content/uploads/2015/07/logo-tecgurus-wp-21.png" alt="Logo" title="Home page" class="logo"/></a>
      <a href="/"><h1>CRUD</h1></a>
     
    </div>
  </header>
  <main class="col-xs-12" id="app">
    <router-view></router-view>
  </main>
</div>

<template id="curso-list">
  <div class="col-xs-12">
    <div class="actions">
      <router-link class="btn btn-default" v-bind:to="{path: '/add-curso'}">
        <span class="glyphicon glyphicon-plus"></span>
        Agregar curso
      </router-link>
    </div>
    <div class="filters row">
      <div class="form-group col-xs-12 col-sm-3">
        <label for="search-element">Buscar</label>
        <input v-model="searchKey" class="form-control" id="search-element" required/>
      </div>
    </div>
    <table class="table table-responsive">
      <thead>
      <tr>
        <th>Nombre</th>
        <th>Descripcion</th>
        <th>Precio</th>
        <th class="col-sm-2">Acciones</th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="curso in filteredcursos">
        <td>
          <router-link v-bind:to="{name: 'curso', params: {curso_id: curso.id}}">{{ curso.name }}</router-link>
        </td>
        <td>{{ curso.description }}</td>
        <td>
          <span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
          {{ curso.price }}
        </td>
        <td>
          <router-link class="btn btn-warning btn-xs" v-bind:to="{name: 'curso-edit', params: {curso_id: curso.id}}">Editar</router-link>
          <router-link class="btn btn-danger btn-xs" v-bind:to="{name: 'curso-delete', params: {curso_id: curso.id}}">Eliminar</router-link>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</template>

<template id="add-curso">
  <div>
    <h2>Agregar nuevo curso</h2>
    <form v-on:submit="createcurso">
      <div class="form-group">
        <label for="add-name">Nombre</label>
        <input class="form-control" id="add-name" v-model="curso.name" required/>
      </div>
      <div class="form-group">
        <label for="add-description">Descripcion</label>
        <textarea class="form-control" id="add-description" rows="10" v-model="curso.description"></textarea>
      </div>
      <div class="form-group">
        <label for="add-price">Precio, <span class="glyphicon glyphicon-usd"></span></label>
        <input type="number" class="form-control" id="add-price" v-model="curso.price"/>
      </div>
      <input type="submit"  class="btn btn-primary" value="crear">
      <router-link class="btn btn-default" v-bind:to="'/'">Cancelar</router-link>
    </form>
  </div>
</template>

<template id="curso">
  <div>
    <h2>{{ curso.name }}</h2>
    <b>Descripcion: </b>
    <div>{{ curso.description }}</div>
    <b>Precio:</b>
    <div>{{ curso.price }}<span class="glyphicon glyphicon-usd"></span></div>
    <br/>
    <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
    <router-link v-bind:to="'/'">Volver a la lista de cursos</router-link>
  </div>
</template>

<template id="curso-edit">
  <div>
    <h2>Editar curso</h2>
    <form v-on:submit="updatecurso">
      <div class="form-group">
        <label for="edit-name">Nombre</label>
        <input class="form-control" id="edit-name" v-model="curso.name" required/>
      </div>
      <div class="form-group">
        <label for="edit-description">Descripcion</label>
        <textarea class="form-control" id="edit-description" rows="3" v-model="curso.description"></textarea>
      </div>
      <div class="form-group">
        <label for="edit-price">Precio, <span class="glyphicon glyphicon-usd"></span></label>
        <input type="number" class="form-control" id="edit-price" v-model="curso.price"/>
      </div>
      <button type="submit" class="btn btn-primary">Guardar</button>
      <router-link class="btn btn-default" v-bind:to="'/'">Cancelar</router-link>
    </form>
  </div>
</template>

<template id="curso-delete">
  <div>
    <h2>Eliminar curso {{ curso.name }}</h2>
    <form v-on:submit="deletecurso">
      <p>Los cambios no podran deshacerse.</p>
      <button type="submit" class="btn btn-danger">Eliminar</button>
      <router-link class="btn btn-default" v-bind:to="'/'">Cancelar</router-link>
    </form>
  </div>
</template>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- vue js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.10/vue.js"></script>
<!-- vue route -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue-router/2.2.1/vue-router.js"></script>
<!-- General js -->
<script src="../assets/js/app.js"></script>
</body>
</html>